/include/ "system-conf.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/media/xilinx-vip.h>

/ {
	model = "Zynq Zybo Z7 Development Board";
	compatible = "digilent,zynq-zyboz7", "xlnx,zynq-7000";

	chosen {
		bootargs = "console=ttyPS0,115200 earlyprintk uio_pdrv_genirq.of_id=generic-uio";
	};

	usb_phy0: usb_phy@0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&gem0 {
        phy-handle = <&ethernet_phy>;
        ethernet_phy: ethernet-phy@0 {
                device_type = "ethernet-phy";
                reg = <0>;
                /* dt-bindings/phy/realtek.h */
                /* #define REALTEK_LED_LINK10              BIT(0)
                   #define REALTEK_LED_LINK100             BIT(1)
                   #define REALTEK_LED_LINK1000            BIT(3)
                   #define REALTEK_LED_ACT                 BIT(4)
                   #define REALTEK_LED_DEFAULT             BIT(7)
                */
                /* LED0=10+A, LED1=100+A, LED2=1000+A */
                realtek,leds-config = <0x11 0x12 0x18>;
        };
};

&usb0 {	
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&flash0 {
        compatible = "jedec,spi-nor";
        reg = <0x0>;
        spi-tx-bus-width = <1>;
        spi-rx-bus-width = <4>;
        spi-max-frequency = <100000000>;
};

&amba_pl {
	digilent_hdmi {
		compatible = "digilent,hdmi";

		clocks = <&axi_dynclk_0>;
		clock-names = "clk";

		digilent,edid-i2c = <&i2c0>;
		digilent,fmax = <150000>;

		port@0 {
			hdmi_ep: endpoint {
				remote-endpoint = <&pl_disp_ep>;
			};
		};
	};

	xlnx_pl_disp {
		compatible = "xlnx,pl-disp";

		dmas = <&axi_vdma_1 0>;
		dma-names = "dma0";

		/*
		 * See Documentation/devicetree/bindings/dma/xilinx/xilinx_frmbuf.txt
		 * to find the equivalent DRM fourcc code for the format selected in
		 * the Frame Buffer Reader, then see See include/uapi/drm/drm_fourcc.h
		 * to find the corresponding 4-char string that should be placed here.
		 */
		xlnx,vformat = "XR24";
		xlnx,bridge = <&v_tc_out>;

		port@0 {
			pl_disp_ep: endpoint {
				remote-endpoint = <&hdmi_ep>;
			};
		};
	};
};

&v_tc_out {
	compatible = "xlnx,bridge-v-tc-6.1";
	xlnx,pixels-per-clock = <1>;
};

&axi_dynclk_0 {
	compatible = "dglnt,axi-dynclk";
	#clock-cells = <0>;
	clocks = <&clkc 15>;
};

&axi_vdma_1 {
	dma-ranges = <0x00000000 0x00000000 0x40000000>;
};

&v_tc_in {
	compatible = "generic-uio";
};

&axi_vdma_0 {
	compatible = "generic-uio";	
};

&axi_gpio_video {
	compatible = "generic-uio";	
};

&pwm_rgb {
	compatible = "generic-uio";	
};

&amba_pl {
	i2s_clk: i2s_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <12000000>;
		clock-output-names = "i2s_clk";
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "Zybo-Z7-Sound-Card";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;

		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Headphone", "Headphone Jack",
			"Line", "Line In Jack";

		simple-audio-card,routing =
			"MICIN", "Microphone Jack",
			"Headphone Jack", "LHPOUT",
			"Headphone Jack", "RHPOUT",
			"LLINEIN", "Line In Jack",
			"RLINEIN", "Line In Jack";

		dailink0_master: simple-audio-card,cpu {
			clocks = <&i2s_clk>;
			sound-dai = <&axi_i2s_adi_1>;
		};

		simple-audio-card,codec {
			clocks = <&i2s_clk>;
			sound-dai = <&ssm2603>;
		};
	};
};

&axi_i2s_adi_1 {
	#sound-dai-cells = <0>;
	compatible = "adi,axi-i2s-1.00.a";
	clocks = <&clkc 15>, <&i2s_clk>;
	clock-names = "axi", "ref";
	dmas = <&dmac_s 0 &dmac_s 1>;
	dma-names = "tx", "rx";
};

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";
};

&i2c1 {
	ssm2603: ssm2603@1a{
		#sound-dai-cells = <0>;
		compatible = "adi,ssm2603";
		reg = <0x1a>;
	};
};

&axi_gpio_led {
	compatible = "generic-uio";
};


&axi_gpio_sw_btn {
	compatible = "generic-uio";
};

&axi_gpio_eth {
	clock-names = "s_axi_aclk";
	clocks = <&clkc 15>;
};
